{% extends "base.html" %}

{% block content %}
<form method="get">
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>

{% if search_results %}
    <h2>Search Results</h2>
    <ul>
        {% for result in search_results %}
            <li>
                Relevance Score: {{ result.score }} -
                Sentence: <a href="{% url 'display_snippets' %}?frag1={{ result.sentence.snippet.segment.id }}&place1={{ result.sentence.snippet.place }}&edit=True">{{ result.sentence.text }}</a> -
                Snippet: {{ result.snippet.id }}: {{ result.snippet.filename }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
