{% extends "base.html" %}

{% block content %}
{% load static %}
    <h1>D un D sarakste - segmentu saraksts</h1>
    <h3>Total Segments: {{ total_segments_count }}</h3>
    <h3>{{ validated_snippet_count }} of {{ total_snippets_count }} snippets validated. ({{ percent_validated }}%)</h3>

    <h2>Segments with Unvalidated Snippets</h2>
    <ul>
        {% for segment in segments_with_unvalidated %}
            <li>
                <a href="{{ segment.segment_link }}">Segment {{ segment.segment_id }}</a>: Validated Snippets: {{ segment.validated_snippets_count }}, unvalidated Snippets: {{ segment.unvalidated_snippets_count }}.

                    {% if segment.prior_filename_snippet %}
                        <a href="{% url 'display_snippets' %}?frag1={{ prior_filename_snippet.segment.id }}&place1={{ prior_filename_snippet.place }}&frag2={{ first_snippet.segment.id }}&place2={{ first_snippet.place }}&edit={{ edit_mode }}">Prior segment overlap </a>,
                    {% endif %}
                    {% if segment.next_filename_snippet %}
                        <a href="{% url 'display_snippets' %}?frag1={{ last_snippet.segment.id }}&place1={{ last_snippet.place }}&frag2={{ next_filename_snippet.segment.id }}&place2={{ next_filename_snippet.place }}&edit={{ edit_mode }}">Next segment overlap </a>,
                    {% endif %}
                    {% if segment.snippet_link %}
                        <a href="{{ segment.snippet_link }}">Link to an Unvalidated Snippet</a>
                    {% endif %}
            </li>
        {% empty %}
            <li>No segments with unvalidated snippets.</li>
        {% endfor %}
    </ul>

    <h2>Segments with All Snippets Validated</h2>
    <ul>
        {% for segment in segments_all_validated %}
            <li>
                <a href="{{ segment.segment_link }}">Segment {{ segment.segment_id }}</a>: Validated Snippets: {{ segment.validated_snippets_count }}, unvalidated Snippets: {{ segment.unvalidated_snippets_count }}
                    {% if segment.snippet_link %}
                        <a href="{{ segment.snippet_link }}">Link to an Unvalidated Snippet</a>
                    {% endif %}
            </li>
        {% empty %}
            <li>All snippets in every segment are validated.</li>
        {% endfor %}
    </ul>

{% endblock %}
