{% extends "base.html" %}

{% block content %}
{% load static %}
    <h1>D un D sarakste - segmentu saraksts</h1>
    <h3>Total Segments: {{ total_segments_count }}</h3>

    <ul>
        {% for segment in segment_links %}
            <li>
                <a href="{{ segment.segment_link }}">Segment {{ segment.segment_id }}</a>: Validated Snippets: {{ segment.validated_snippets_count }}, unvalidated Snippets: {{ segment.unvalidated_snippets_count }}
                    {% if segment.snippet_link %}
                        <a href="{{ segment.snippet_link }}">Link to an Unvalidated Snippet</a>
                    {% endif %}
            </li>
        {% empty %}
            <li>No segments.</li>
        {% endfor %}
    </ul>

{% endblock %}
