{% extends "base.html" %}

{% block content %}
{% load static %}
<form method="POST" action="{% url 'display_snippets' %}?frag1={{ frag1 }}&place1={{ place1 }}&frag2={{ frag2 }}&place2={{ place2 }}&edit={{ edit_mode }}">
    {% csrf_token %}
    {% if request.GET.saved == 'true' %}
        <h2 style="color : green">Izmaiņas saglabātas.</h2>
    {% endif %}
    <table>
        <tr>
            <th>Fragments 1</th>
            <th>Fragments 2</th>
        </tr>
        <tr>
            <td>
                {% if snippet1 %}
                    <img src="{% static snippet1.filename %}" alt="Snippet Image 1" style="width: 50%;">
                {% else %}
                    Šāds fragments neeksistē.
                {% endif %}
            </td>
            <td>
                {% if snippet2 %}
                    <img src="{% static snippet2.filename %}" alt="Snippet Image 2" style="width: 50%;">
                {% else %}
                    Šāds fragments neeksistē.
                {% endif %}</td>
        </tr>
        {% if edit_mode %}<tr>
            <td>
                Fragmenta vieta: <strong>{{ frag1 }} - {{ place1 }} </strong>
                Prior overlap: <strong>{% if prev_snippet_exists %}{{ prev_snippet.overlaprowcount }}{% else %} No prior snippet.{% endif %}</strong> Next overlap: <strong>{{ snippet1.overlaprowcount }}</strong></td>
            <td>
                Fragmenta vieta: <strong>{{ frag2 }} - {{ place2 }} </strong>
                Prior overlap: <strong>{{ snippet1.overlaprowcount }}</strong> Next overlap: <strong>{{ snippet2.overlaprowcount }}</strong></td>
        </tr>{% endif %}
        <tr>
            <td><textarea name="text1" cols="70">{{ snippet1.text }}</textarea></td>
            <td><textarea name="text2" cols="70">{{ snippet2.text }}</textarea></td>
        </tr>
        <tr>
            <td><textarea name="summary1" cols="70">{{ snippet1.summary }}</textarea></td>
            <td><textarea name="summary2" cols="70">{{ snippet2.summary }}</textarea></td>
        </tr>
        <tr>
            <!-- Checkboxes for loved field -->
            <td>
                Mīlēts?
                <input type="checkbox" name="loved1" {% if user_snippet1.loved %}checked{% endif %}>
            </td>
            <td>
                Mīlēts?
                <input type="checkbox" name="loved2" {% if user_snippet2.loved %}checked{% endif %}>
            </td>
        </tr>
        <tr>
            <!-- Checkboxes for marked field -->
            <td>
                Atzīmēts?
                <input type="checkbox" name="marked1" {% if user_snippet1.marked %}checked{% endif %}>
            </td>
            <td>
                Atzīmēts?
                <input type="checkbox" name="marked2" {% if user_snippet2.marked %}checked{% endif %}>
            </td>
        </tr>

        <!-- Repeat for other fields like text, summary title, checkboxes, etc. -->
    </table>
    {% if frag1 == 1 and place1 == 1 %}
    {% else %}
        <a href="{% url 'display_snippets' %}?frag1={{ prev_frag1 }}&place1={{ prev_place1 }}&frag2={{ prev_frag2 }}&place2={{ prev_place2 }}&edit={{ edit_mode }}">Iepriekšējā</a>
    {% endif %}
    <button type="submit">Saglabāt izmaiņas</button>
    max_segment: {{max_segment}} max_place: {{max_place}}
    {% if place2 == max_place and frag2 == max_segment %}
    {% else %}
        <a href="{% url 'display_snippets' %}?frag1={{ next_frag1 }}&place1={{ next_place1 }}&frag2={{ next_frag2 }}&place2={{ next_place2 }}&edit={{ edit_mode }}">Nākamā</a>
    {% endif %}
</form>
{% endblock %}
