{% extends "base.html" %}

{% block content %}
{% load static %}
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th>Fragments 1</th>
            <th>Fragments 2</th>
        </tr>
        <tr>
            <td><img src="{% static snippet1.filename %}" alt="Snippet Image 1" style="width: 50%;"></td>
            <td><img src="{% static snippet2.filename %}" alt="Snippet Image 2" style="width: 50%;"></td>
        </tr>
        <tr>
            <td>{% if edit_mode %}{{ snippet1.segment }} - {{ snippet1.place }} {% endif %}{{ snippet1.filename }}</td>
            <td>{% if edit_mode %}{{ snippet2.segment }} - {{ snippet2.place }} {% endif %}{{ snippet2.filename }}</td>
        </tr>
        {% if edit_mode %}<tr>
            <td>Prior overlap: {% if prev_snippet_exists %}{{ prev_snippet.overlaprowcount }}{% else %} No prior snippet.{% endif %} Next overlap:{{ snippet1.overlaprowcount }}</td>
            <td>Prior overlap: {{ snippet1.overlaprowcount }} Next overlap:{{ snippet2.overlaprowcount }}</td>
        </tr>{% endif %}
        <tr>
            <td><textarea name="text1" cols="70">{{ snippet1.text }}</textarea></td>
            <td><textarea name="text2" cols="70">{{ snippet2.text }}</textarea></td>
        </tr>
        <tr>
            <td><textarea name="summary1" cols="70">{{ snippet1.summary }}</textarea></td>
            <td><textarea name="summary2" cols="70">{{ snippet2.summary }}</textarea></td>
        </tr>
        <tr>
            <!-- Checkboxes for loved field -->
            <td>
                Mīlēts?
                <input type="checkbox" name="loved1" {% if user_snippet1.loved %}checked{% endif %}>
            </td>
            <td>
                Mīlēts?
                <input type="checkbox" name="loved2" {% if user_snippet2.loved %}checked{% endif %}>
            </td>
        </tr>
        <tr>
            <!-- Checkboxes for marked field -->
            <td>
                Atzīmēts?
                <input type="checkbox" name="marked1" {% if user_snippet1.marked %}checked{% endif %}>
            </td>
            <td>
                Atzīmēts?
                <input type="checkbox" name="marked2" {% if user_snippet2.marked %}checked{% endif %}>
            </td>
        </tr>

        <!-- Repeat for other fields like text, summary title, checkboxes, etc. -->
    </table>
    <button type="submit">Saglabāt izmaiņas</button>
    {% if edit_mode %}{% endif %}
</form>
{% endblock %}
