{% extends "base.html" %}

{% block content %}
{% load static %}
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th>Snippet 1</th>
            <th>Snippet 2</th>
        </tr>
        <tr>
            <td><img src="{% static snippet1.filename %}" alt="Snippet Image"></td>
            <td><img src="{% static snippet2.filename %}"" alt="Snippet Image"></td>
        </tr>
        <tr>
            <td>{{ snippet1.filename }}</td>
            <td>{{ snippet2.filename }}</td>
        </tr>
        <!-- Repeat for other fields like text, summary title, checkboxes, etc. -->
    </table>
    <button type="submit">Save Changes</button>
</form>
{% endblock %}
